body {
    font-family: Arial;
    text-align: center;
    background-color: #f2f2f2;
}

.container {
    margin: 20px;
}

input, button {
    padding: 8px;
    margin: 5px;
}

table {
    margin: auto;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
}

progress {
    width: 100px;
}
@media (max-width: 600px) {
    table {
        font-size: 12px;
    }

    input, button {
        width: 90%;
    }
}